img{
    width: 100%;
}

.hero-image{
    background-image: url("./images/image1.avif");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 50px solid #FFC300;
}

h1{
    color: whitesmoke;
    position: absolute;
    left: 300px;
    top: 180px;
    width: 100%;
    font-size: 4rem;
    font-family: "Inspiration", cursive;
}

.section2{
    text-align: center;
    background-color:#3A5B25;
}

.button{
    background-color: #D0D49D;
    display: inline-block;
    margin: 10px;
    padding: 30px 50px;
    color:rgb(255, 255, 255)
}

.two-column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 40px; 
    margin-bottom: 50px
}